<div class="container">
  <div class="nav">
    <button [routerLink]="['home']" class="btn btn-secondary">Home</button>
    <button [routerLink]="['mine']" class="btn btn-secondary">Mine Coins</button>
    <button [routerLink]="['buy']" class="btn btn-secondary">Buy Coins</button>
    <button [routerLink]="['sell']" class="btn btn-secondary">Sell Coins</button>
    <button [routerLink]="['ledger']" class="btn btn-secondary">Browse Ledger</button>
  </div>
  <router-outlet></router-outlet>
</div>