<div class="container">
  <h1>Seattle, WA</h1>
  <div class="citycontent">
    <div class="tempdetails">
      <p>Humidity: {{ weather['main'].humidity }}</p>
      <p>Temperature (Average): {{ weather['main'].temp }} </p>
      <p>Temperature (High): {{ weather['main'].temp_max }}</p>
      <p>Temperature (Low): {{ weather['main'].temp_min }}</p>
      <p>Status:  {{ weather.weather[0].description }}</p>
    </div>
    <img src='https://images.pexels.com/photos/419235/pexels-photo-419235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'>
  </div>
</div>
