img{
    width: 300px;
    float: right;
}
.container{
    text-align: center;
}
.citycontent{
    width: 700px;
    border: 2px solid gray;
    padding: 20px;
}
.tempdetails{
    display: inline-block;
    width: 350px;
    vertical-align: top;
    text-align: left;
}