<div class="apptitle">
  <h1>Dojo Weather Forecast</h1>
  <div class="menu">
    <a [routerLink] = "['seattle']" class="menu-right-border">Seattle, WA</a>
    <a [routerLink] = "['san jose,us']" class="menu-right-border">San Jose, CA</a>
    <a [routerLink] = "['burbank']" class="menu-right-border">Burbank, CA</a>
    <a [routerLink] = "['dallas']" class="menu-right-border">Dallas TX</a>
    <a [routerLink] = "['washington dc.,us']" class="menu-right-border">Washington, DC</a>
    <a [routerLink] = "['chicago']" >Chicago, IL</a>
  </div>
</div>
<router-outlet></router-outlet>